/* HEADER */

h1 {
  font-size: 4rem;
  font-family: 'Josefin Sans', sans-serif;
}

/* Light vs Dark mode styling */
.dark {
  background-color: #23395B;
  color: #EAE5E9;
}

.light {
  background-color: #EAE5E9;
  color: #23395B;
}

.dark textarea {
  background-color: #6D7C97;
  color: #EAE5E9;
}

/* Toggle switch styling */
.label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.toggleCheckbox {
  position: absolute;
  opacity: 0;
}

.toggleSlot {
  position: relative;
  height: 20px;
  width: 50px;
  margin: auto;
  border: 3px solid black;
  border-radius: 10em;
}

.toggleSlider{
  position: absolute;
  top: -2px;
  left: -2px;
  border: 3px solid black;
  background-color: #78CAD2;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  transform: translateX(0px);
  transition: transform 0.3s linear;
}

input:checked + .toggleSlider {
  transform: translateX(30px);
  background-color: #78CAD2;
}

/* Modal styling */
.swal2-icon {
  border-color: #23395B !important;
  color: #23395B !important;
}

.swal2-popup {
  color: #23395B !important;
  background-color: #EAE5E9 !important;
}

.swal2-confirm {
  color: #23395B !important;
  background-color: #78CAD2 !important;
}

.swal2-cancel {
  color: #EAE5E9 !important;
  background-color: #23395B !important;
}

/* Starting page stying */
div.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.start {
  background-color: #78CAD2;
  color: #23395B;
  padding: 25px;
  font-size: 3rem;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 5px 4px 1px #23395B;
}

.reset {
  background-color: #78CAD2;
  color: #23395B;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 15px;
  box-shadow: 1px 4px 10px #23395B;
}

/* Main writing page styling */
div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

textarea {
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
}

.timer {
  text-align: center;
}


