/* SETUP */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* HEADER */
header {
  border-bottom: 2px solid #23395B;
  height: 10vh;
  padding-top: 3%;
}

h1 {
  font-size: 5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 0;
  text-shadow: 0 0 1rem #78CAD2;
}

/* Light vs Dark mode styling */
.dark {
  background-color: #23395B;
  color: #EAE5E9;
}

.light {
  background-color: #EAE5E9;
  color: #23395B;
}

.dark textarea {
  background-color: #6D7C97;
  color: #EAE5E9;
}

.dark ul {
  color: #EAE5E9;
}

.dark a {
  color: #EAE5E9;
}

.dark footer {
  border-top: 2px solid #EAE5E9;
}

.dark header {
  border-bottom: 2px solid #EAE5E9;
}

.dark button {
  box-shadow: 3px 3px 1px #18263d;
}

/* Toggle switch styling */
.toggleContainer {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
}

img {
  height: 40px;
  width: auto;
  display: inline-block;
  filter: drop-shadow(0 0 0.2rem #78CAD2);
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.toggleCheckbox {
  position: absolute;
  opacity: 0;
}

.toggleSlot {
  position: relative;
  height: 20px;
  width: 50px;
  margin: auto 3px;
  border: 3px solid black;
  border-radius: 10em;
  filter: drop-shadow(0 0 0.2rem #78CAD2);
}

.toggleSlider{
  position: absolute;
  top: -2px;
  left: -2px;
  border: 3px solid black;
  background-color: #78CAD2;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  transform: translateX(0px);
  transition: transform 0.3s linear;
}

input:checked + .toggleSlider {
  transform: translateX(30px);
  background-color: #78CAD2;
}

/* Modal styling */
.swal2-icon {
  border-color: #23395B !important;
  color: #23395B !important;
}

.swal2-popup {
  color: #23395B !important;
  background-color: #EAE5E9 !important;
}

.swal2-confirm {
  color: #23395B !important;
  background-color: #78CAD2 !important;
}

.swal2-cancel {
  color: #EAE5E9 !important;
  background-color: #23395B !important;
}

/* Starting page stying */
.app {
position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  position: relative;
}

button {
  box-shadow: 3px 3px 1px #23395B;
  background-color: #78CAD2;
  color: #23395B;
  margin: 20px auto;
  transition-duration: 0.5s;
  transition-property: transform;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

button:focus {
  transform: scale(1.1);
  cursor: pointer;
}

.start {
  padding: 25px;
  font-size: 2rem;
  border-radius: 20px;
}

.reset {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 15px;
}

.instructions {
  text-align: center;
}

/* Main writing page styling */

div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

textarea {
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  width: 90%;
  max-height: 50%;
  resize: none;
  box-shadow: 0 0 0.2rem #78CAD2;
}

.timer {
  text-align: center;
}

h2.promptLabel {
  margin-bottom: 0;
  border-bottom: 2.5px solid #78CAD2;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #23395B;
}

/*Footer*/
footer{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 2px solid #23395B;
  height: 15vh;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
}

.footerTitle{
  flex-basis: 100%;
  letter-spacing: 0.25rem;
  text-shadow: 0 0 1rem #78CAD2;
}

.footerTitle a {
  display: inline;
}

.footerContent{
  text-align: center;
  letter-spacing: 0.1rem;
}

ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 1rem;
}

a{
  text-decoration: none;
}

h3 {
  margin-top: 0;
}

footer a:hover {
  text-shadow: 0 0 1rem #78CAD2;
  text-decoration: underline dotted #78CAD2;
}

footer a:focus {
  text-shadow: 0 0 1rem #78CAD2;
  text-decoration: underline dotted #78CAD2;
}


