/* HEADER */
header {
  border-bottom: 2px solid #23395B;
  height: 10vh;
  padding-top: 3%;
}

h1 {
  font-size: 5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 0;
}

/* Light vs Dark mode styling */
.dark {
  background-color: #23395B;
  color: #EAE5E9;
}

.light {
  background-color: #EAE5E9;
  color: #23395B;
}

.dark textarea {
  background-color: #6D7C97;
  color: #EAE5E9;
}

.dark ul {
  color: #EAE5E9;
}

.dark a {
  color: #EAE5E9;
}

.dark footer {
  border-top: 2px solid #EAE5E9;
}

.dark header {
  border-bottom: 2px solid #EAE5E9;
}

/* Toggle switch styling */
.label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.toggleCheckbox {
  position: absolute;
  opacity: 0;
}

.toggleSlot {
  position: relative;
  height: 20px;
  width: 50px;
  margin: auto;
  border: 3px solid black;
  border-radius: 10em;
}

.toggleSlider{
  position: absolute;
  top: -2px;
  left: -2px;
  border: 3px solid black;
  background-color: #78CAD2;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  transform: translateX(0px);
  transition: transform 0.3s linear;
}

input:checked + .toggleSlider {
  transform: translateX(30px);
  background-color: #78CAD2;
}

/* Modal styling */
.swal2-icon {
  border-color: #23395B !important;
  color: #23395B !important;
}

.swal2-popup {
  color: #23395B !important;
  background-color: #EAE5E9 !important;
}

.swal2-confirm {
  color: #23395B !important;
  background-color: #78CAD2 !important;
}

.swal2-cancel {
  color: #EAE5E9 !important;
  background-color: #23395B !important;
}

/* Starting page stying */
.app {
position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.start {
  background-color: #78CAD2;
  color: #23395B;
  padding: 25px;
  font-size: 2rem;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 5px 4px 1px #23395B;
}

.reset {
  background-color: #78CAD2;
  color: #23395B;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 15px;
  box-shadow: 1px 4px 10px #23395B;
}

.instructions {
  text-align: center;
}

/* Main writing page styling */

div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

textarea {
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  width: 90%;
  max-height: 50%;
  resize: none;
}

.timer {
  text-align: center;
}

h2.promptLabel {
  margin-bottom: 0;
  border-bottom: 2.5px solid #78CAD2;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #23395B;
}

/*Footer*/
footer{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 2px solid #23395B;
  height: 15vh;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
}

.footerTitle{
  flex-basis: 100%;
  letter-spacing: 0.25rem;
}

.footerTitle a {
  display: inline;
}

.footerContent{
  text-align: center;
  letter-spacing: 0.1rem;
}

ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 1rem;
}

a{
  text-decoration: none;
}

h3 {
  margin-top: 0;
}

.sixtySecondWarning{
  animation: Timer-fade infinite 1s linear;
}

@keyframes Timer-fade{
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

